.products-section {
  display: flex;
  flex-wrap: wrap;
}

.loading-products{
  display: flex;
  flex-wrap: wrap;
  gap: 1.7%;
  padding: 1em;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

@media (max-width: 920px) {
  .products{
    flex: 2 46%;
  }
}