.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  flex: 1 16%;
  height: 30em;
}

.product-card:hover {
  /* box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.2); */
  transform: scale(1.05,1.05);
}

.product-img{
  height: 50%;
  padding-top: 1em;
}

.product-img:hover{
  cursor: pointer;
}

.product-abstract {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  height: 30%;
  text-align: center;
}

.buttons-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-section > Button{
  font-size: 1.5em;
  padding: 0;
}

/* --------------------------------------------------- */

.product-card-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
  height: 7em;
  width: 60%;
}

.product-img-modal{
  height: 100%;
}

.product-img-modal:hover{
  cursor: pointer;
}

.product-abstract-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.buttons-section-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------- */

.product-card-view {
  width: 50%;
  height: 20em;
  margin-left: 25%;
  display: flex;
}

.product-img-view{
  width: 40%;
}

.product-abstract-view {
  display: flex;
  justify-content:space-evenly;
  width: 90%;
}

.product-description-view{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.buttons-section-view{
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .product-card:first-child,
  .product-card:nth-child(2) {
  flex: 2 46%;
  }
}
