.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 85%;
  border-style: none;
  overflow-y: scroll;
  background-color:whitesmoke;
}

.header {
  margin: 0;
  padding: 1em;
}

.content {
  padding: 1em;
}
